*{
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar{
    padding: 15px;
    background-color: rgb(255, 132, 39);
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-size: large;
}
.navbar h1{
    margin: 5px;
    font-family:'Times New Roman', Times, serif;
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: medium;
}
.link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 4px;
}


/* Error page */

.error{
    text-align: center;
   margin-top: 40px;
    color: grey;
   }
.error button{
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
    border: none;
    border:  1px solid rgb(255, 200, 0)  ;
    background: white;
}
.error a{
    text-decoration: none;
    font-weight: bold;
}