*{
    margin: 0;
    padding: 0;
   
    
}

body{
    background-color: rgb(194, 239, 235);
}

.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

/* Navbar */
.navbar{
    padding: 15px;
    background-color: rgb(51, 30, 54);
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-size: 30px;
}
.navbar h1{
    margin: 5px;
    font-family:'Times New Roman', Times, serif;
    color: #F9ADA0;
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 20px;
}
.link a:hover{
    text-decoration: underline rgb(23, 190, 187);
}
.link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 4px;
    
}

/* About page */
.about-container{
    align-items: center;
    width: 100%;
    height: 200px;
    /* text-align:center; */
}
.about h1{
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;

    font-size: 27px;
    text-decoration: underline;
    /* margin: 4px; */
    padding: 10px   ;
}
.about h1:hover{
    color: rgb(40, 194, 255);
}
.about h3:hover{
    color: rgb(40, 194, 255);
}
.about h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-top: 20px;
    padding: 7px;
    /* margin: 4px; */
}
.about p{
    font-size: 20px;
    /* margin: 2px; */
    padding: 6px;  
    color: rgb(114, 14, 7);
    font-family: 'Times New Roman', Times, serif;

}

/* car container  */
.car-header{
    text-align: center;
    padding: 10px;
    font-size: 70px;;
}
.car-container{
    color: #F2CEE6;
    margin: 30px;
    padding: 20px;
    background-color: #0D1B1E;
    width: 310px;
    border: 2px solid #041F1E;
    border-radius: 7px;
}
.car-container button{
    padding: 7px;
    border-radius: 5px;
    border:2px solid #1E2D2F ;
    cursor: pointer;
}
.car-container button:active{
    border:2px solid #5A6A6B ;
    cursor: wait;
}
.car-container p{
    margin-top: 3px;
}

.car-grid{
    display: flex;
    max-width: 1800px;
    flex-wrap: wrap;
}


/* enquiry */
.enquiry h1{
    align-items: center;
    margin-left: 45px   ;
}
.form{
    align-items: center;
    width: auto;
    height: auto;
    margin: 10px;
}
form input{
    padding: 10px;
    margin: 6px;
}
form textarea{
    padding: 10px;
    margin: 6px;
    height: 80px;
}
form button{
    margin-left: 55px;
    padding: 15px;
    border-radius: 3px;
    border: none;
    border:  1px solid rgb(69, 5, 12)  ;
    background: white;
}
form button:hover{
    background-color:#160C28;
    color:#EFCB68;
}

/* Error page */

.error{
    text-align: center;
   margin-top: 40px;
    color: grey;
   }
.error button{
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
    border: none;
    border:  1px solid rgb(69, 5, 12)  ;
    background: white;
}
.error a{
    text-decoration: none;
    font-weight: bold;
}